/*fridge*/
.kitchen-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fridge-area,
.pantry-area {
  position: absolute;
  background: transparent;
  border: 2px dashed #4ade80;
  cursor: pointer;
}

.fridge-area {
  top: 25%;
  left: 31.5%;
  width: 17%;
  height: 63%;
}

.pantry-area {
  bottom: 15%;
  right: 40.5%;
  width: 9%;
  height: 18%;
}

.fridge-area:hover,
.pantry-area:hover {
  background: transparent;
}

.ingredient-view-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.fridge {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.full-image {
  width: 100%;
  display: block;
}

.ingredient {
  position: absolute;
  background: transparent;
  border: 1px;
  cursor: pointer;
  padding: 0;
}

.ingredient:hover img {
  transform: scale(1.1);
}

.ingredient-image {
  width: 50%;
  height: auto;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #4caf50;
  border: 1px soid #ccc;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 10;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
}

.selected-ingredients-area {
  position: absolute;
  top: 60px;
  right: 40px;
  width: 200px;
  background-color: white;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.selected-ingredients-area h3 {
  margin-top: 0px;
}
.selected-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.selected-ingredients {
  margin-top: -10px;
  width: auto;
  height: 55px;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px;
}

.selected-ingredients:hover {
  background-color: #f3f3f3;
}

.recipe-button {
  margin-left: 10px;
}

/*ingredients*/
.chicken img,
.beef img,
.salmon img {
  width: 100px;
  height: auto;
  transition: transform 0.2s;
}

.lemon img,
.tomato img,
.onion img,
.cucumber img,
.butter img,
.avocado img,
.flour img,
.potato img,
.sugar img,
.sugar-jar img {
  width: 60px;
  height: auto;
  transition: transform 0.2s;
}

.garlic img,
.yogurt img,
.mushroom img,
.milk img {
  width: 52px;
  height: auto;
  transition: transform 0.2s;
}

.ginger img, .oil img {
  width: 45px;
  height: auto;
  transition: transform 0.2s;
}

.salt img,
.pepper img {
  width: 40px;
  height: auto;
  transition: transform 0.2s;
}

.corn img,
.carrot img {
  width: 85px;
  height: auto;
  transition: transform 0.2s;
}

.chicken {
  bottom: 13%;
  left: 31%;
}

.tomato {
  top: 40%;
  left: 37%;
}

.onion {
  top: 39.5%;
  left: 30%;
}

.lemon {
  top: 41%;
  left: 44%;
}

.garlic {
  bottom: 29%;
  left: 44.5%;
}

.salt {
  bottom: 40%;
  left: 32%;
}

.pepper {
  bottom: 40%;
  left: 27%;
}

.cucumber {
  top: 40.5%;
  left: 51%;
  transform: rotate(20deg);
}

.corn {
  bottom: 29%;
  left: 28%;
}

.carrot {
  top: 41.5%;
  left: 58%;
}

.butter {
  bottom: 41%;
  left: 31%;
  transform: rotate(-4deg);
}

.beef {
  bottom: 13%;
  left: 43%;
}

.avocado {
  bottom: 29%;
  left: 38%;
}

.flour {
  bottom: 24.5%;
  left: 25%;
}

.yogurt {
  bottom: 41%;
  left: 39%;
}

.salmon {
  bottom: 13%;
  left: 55%;
}

.potato {
  bottom: 29%;
  left: 64%;
}

.mushroom {
  bottom: 29%;
  left: 57%;
}

.milk {
  bottom: 41%;
  left: 47%;
}

.ginger {
  bottom: 29%;
  left: 51%;
}

.sugar {
  bottom: 24.5%;
  left: 34%;
}

.oil {
  bottom: 23%;
  left: 42%;
}